.navBar{
    border: @main;
    .flexbox();
    h1{
        border: @component;
        width: 50%;
        // margin: 0 auto;
    }
    nav{
        border: @component;
        width: 50%;
        // margin: 0 auto;
        a{
            border: @items;
        }
    }
}