header .navBar{
    // border: @main;
    .flexbox();
    align-items: flex-end;
    max-width: 100%;
    background:rgba(255, 255, 255, 0.671);
    position:fixed;
    width: 100%;

    @media @tablet{
        flex-direction: column;
    }

    @media @phone{
        position: relative;
    }

    h1{
        // border: @component;
        width: 100%;
        margin: 2%;

        @media @tablet{
            margin: 0 auto;
            text-align: center;
            padding: 2%;
        }

        @media @phone{
            // background-image: url("hollywood.jpg");
            // background-color: black;
            // color: white;
            border-bottom: 1px dashed black;
            background: @blue;
            color: white;
        }
    }

    nav{
        // border: @component;
        width: 100%;
        margin-left: 15%;
        margin-bottom: 2%;
        .flexbox();
        flex-direction: row;
        justify-content: space-around;

        @media @tablet{
            margin:0;
            padding: 2%;
        }

        @media @phone{
            flex-direction: column;
        }

        a{
        // border: @items;
        text-decoration: none;
        color:#000;
        transition: color .5s;
        &:hover{
            color: @magenta;
            // text-decoration: overline;
            transition: color .5s;
        }

        @media @phone{
            margin: 3%;
        }

        }
    }
}